<div  class="container">


    <p aria-multiline="true"><a href="#/users"> All Users</a> </p>

<ul>
    <td>
    <li ng-repeat="i in getNumber(pages.numberOfTweets) track by $index"><span>
        <button data-ng-click="getTweetsByPage($index+1)">Page {{$index+1}}</button></span>
    </li>
    </td>
</ul>

    <label>Neki deskripsn tvitova</label>
    <ul>
        <li>Tweets</li>
        <li data-ng-repeat="tweet in tweets">{{tweet.content}} | {{tweet.time}} / {{tweet.userId }}</li>
    </ul>
    <div ng-controller="tweetController">
        <input type="text" ng-model="tweet">
        <button  ng-click="postTweet(tweet); tweet=null">TweeT</button>
    </div>
    <br>
    <tweet-directive ng-repeat="tweet in tweets" tweet="tweet">{{tweet.content}} <br>-------------------------- <br> </tweet-directive>
    <br>


    <table border="2">

        <tr>
            <td>CONTENT</td>
            <TD>TIME</TD>
        </tr>
        <tr data-ng-repeat="tweet in tweets">
            <td>{{tweet.content}}</td>
            <td>{{tweet.time}}</td>
            <br>
        </tr>
    </table>

    <input type="text" ng-model="searchContent">
    <button data-ng-click="findCont(); searchContent=null ">Find</button>


    <style>
        tweet-directive {color:red; }
    </style>
</div>