<div class="container" >
<h2>Search for User</h2>

<!-- <sign-out></sign-out>
    Name: <input type="text" ng-model="filter.name"/>
    <br>
    <ul>
        <li data-ng-repeat="person in persons | filter:filter.name | orderBy: 'name' ">{{person.name | uppercase}}-{{person.city}}</li>
    </ul>


    <br>
    Name: <input type="text" ng-model="newPerson.name"/>
    <br>
    City: <input type="text" ng-model="newPerson.city"/>
    <br>
    
    
    <button data-ng-click="addPerson()">Add Person</button>
    
    <br>
     <ul>
    <li>NAME | AGE | USERNAME</li>
    <li data-ng-repeat="">{{user.name}} | {{user.age}} | {{user.username}}</li>
    </ul>
    -->
    <a href="#/profile">Profile</a>


    Name: <input type="text" ng-model="filter.name"/>
    <br>


    <table border="2">
        <tr>
            <td>NAME</td>
            <TD>USERNAME</TD>
        </tr>
        <tr data-ng-repeat="user in users | filter:filter.name | orderBy: 'name' "  >
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
        </tr>
    </table>




</div>